# please input your API key of Google Geocoding API.
GOOGLE_API_KEY = "PLEASE INSERT YOUR OWN APIKEY"

#If you use heroku to set this app, run this.
# heroku config:set GOOGLE_API_KEY="PLEASE INSERT YOUR OWN APIKEY"