{% extends "layout.html" %}
{% block content %}
<h1>{{ title }}</h1>
{{ message | cr }}
<br/>
    <form action="/" method="post">
        <p>施設名：<input type="text" name="place" value="" size="20" />
        </p>
        <p>検索事項：
        <input type="radio" name="choice" value="駅" checked="checked" /> 最寄り駅
        <input type="radio" name="choice" value="レストラン" /> レストラン
        </p>
        <p>距離(レストランの場合のみ)
        <select name="sel">
            <option value="null" disabled selected>選択してください</option>
            <option value=200>200m</option>
            <option value=500>500m</option>
            <option value=1000>1km</option>
            <option value=3000>3km</option>
        </select>
        </p>
        <p><input type="submit" name="submit" value="検索" /></p>
    </form>

<h2>検索結果</h2>
    <p>{{ message2 }}</p>
    {{ results | cr }}
{% endblock %}